* {
    padding: 0px;
    margin: 0px;
}

.card {

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px 10px;

    background: #f1f2f6;
}

.card-container {
    max-width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 20px 15px;
    width: auto;
}

.card-container img {
    display: block;
    margin: 15px auto;
    height: 120px;
    max-width: 90%;
    object-fit: contain;
    user-select: none;
}

.item-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
    font-weight: 700;
    grid-gap: 10px 10px;
    margin-top: 25px;
}

.item-info {
    background: white;
}

.item-name {
    background: white;
    font-size: 22px;
    font-weight: 700;
}

.item-price {
    font-size: 20px;
    background: white;
    color: #24c486;
}

.item-sell {
    background: linear-gradient(180deg, #f53b82, #f53b57)
}

.item-buy {
    background: linear-gradient(180deg, #2ecc71, #1abc9c)
}

.receipt {
    text-align: center;
    margin-top: 20px;
}

.receiptName {
    font-size: 22px;
    font-weight: bold;
}

.receiptContainer {
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 650px;
    margin-top: 20px;
    gap: 50px;
}

.receiptPrice {
    color: #24c486;
}

.receiptLine {
    width: 300px;
    margin-left: 600px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    border-top: 3px solid #000;
}

.total {
    display: flex;
    align-items: center;
    margin-left: 600px;
    gap: 200px;
}